[all]
%{ for instance, attrs in instances["all"]["hosts"] ~}
${instance} %{ for var_key, var_value in attrs }${var_key}=${var_value} %{ endfor }
%{ endfor }
[all:vars]
%{ for var_key, var_value in instances["all"]["vars"] ~}
${var_key}=${var_value}
%{ endfor }
%{ for group, group_attrs in instances["all"]["children"] ~}
[${group}]
%{ for host, host_attrs in group_attrs["hosts"] ~}
${host}%{ for var_key, var_value in host_attrs } ${var_key}=${var_value}%{ endfor }
%{ endfor }
%{ if length(lookup(group_attrs, "children", [])) > 0 ~}
[${group}:children]
${join("\n", group_attrs.children)}

%{ endif ~}
[${group}:vars]
%{ for var_key, var_value in group_attrs["vars"] ~}
${var_key}=${var_value}
%{ endfor }
%{ endfor ~}
